<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <img src="http://eastmalvernrsl.com.au/wp-content/uploads/2016/05/entertainment-at-east-malvern-rsl-1200px.jpg" alt="First slide">
                        <div class="carousel-caption">
                            <h3 class="kostic bigger">Mejores locales</h3>
                            <p class="kostic medium">La mejor ubicacion en toda Lima.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="http://www.luisgyg.com/wp-content/uploads/2015/07/luisgyg_karaoke.jpg" alt="Second slide">
                        <div class="carousel-caption">
                            <h3 class="kostic bigger">Mejores equipos</h3>
                            <p class="kostic medium">Equipos de audio y video profesional.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="https://az413805.vo.msecnd.net/spaces/ba-rxl/85660/nwf2bypfzja.jpg" alt="Third slide">
                        <div class="carousel-caption">
                            <h3 class="kostic bigger">Mejores boxes</h3>
                            <p class="kostic medium">La mejor atención.</p>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span></a><a class="right carousel-control"
                        href="#carousel-example-generic" data-slide="next"><span class="glyphicon glyphicon-chevron-right">
                        </span></a>
            </div>
            <div class="main-text hidden-xs">
                <div class="col-md-12 text-center">
                    <h1 class="kostic bigger">Ven y saca el artista que llevas dentro!</h1>
                    <div class="">
                        <a class="btn btn-primary kostic" href="pages/index">Intranet</a><a class="btn btn-primary kostic"
                            href="/users/sign_up">Nuevo usuario</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>