<h1 class="kostic medium text-left">Sobre Karaoke-Bar</h1>
<p class="kostic medium text-left" >Somos una empresa dedicada a brindar un servicio excelente a los apasionados al Karaoke. Nos gusta cantar y nos gusta que cante todo el mundo. Y por eso tenemos el catálogo más amplio del mercado, y con las mejores y más avanzadas herramientas para hacer tu experiencia fácil y divertida. Y como cantar es un acto social, si lo deseas podrás tener eventos personalizados en nuestros locales con los generos musicales que marcaron tu epoca..</p>
<br>
<center><%= image_tag "armonico.jpg" %></center>
<br>
<br>