<h1 class="kostic bigger text-center">Sobre Karaoke-Bar</h1>
<p class="kostic1 medium text-center" >Somos una empresa dedicada a brindar un servicio excelente a los apasionados al Karaoke. Nos gusta cantar y nos gusta que cante todo el mundo. Y por eso tenemos el catálogo más amplio del mercado, y con las mejores y más avanzadas herramientas para hacer tu experiencia fácil y divertida. Y como cantar es un acto social, si lo deseas podrás tener eventos personalizados en nuestros locales con los generos musicales que marcaron tu epoca..</p>

<h1 class="kostic medium text-center">Nuestros locales y boxes</h1>
<!-- SLIDER PHOTOS -->
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-6" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-0">
                            <img src="http://goinjapanesque.com/wpos/wp-content/uploads/2015/08/xkaraoke1.jpg.pagespeed.ic.36DUPx1fud.jpg">
                        </a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-1"><img src="http://loungebbclub.com.ni/wp-content/uploads/2014/09/10363638_647875285288194_6075792037454832844_n.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-2"><img src="http://www.wsi.it/public/news/Karaoke_box.jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-3"><img src="http://www.fiwax.com/masterpanel/img/600/1437012865_6.jpg"></a>
                    </li>

                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="http://goinjapanesque.com/wpos/wp-content/uploads/2015/08/xkaraoke1.jpg.pagespeed.ic.36DUPx1fud.jpg"></div>

                                    <div class="item" data-slide-number="1">
                                        <img src="http://loungebbclub.com.ni/wp-content/uploads/2014/09/10363638_647875285288194_6075792037454832844_n.jpg"></div>

                                    <div class="item" data-slide-number="2">
                                        <img src="http://www.wsi.it/public/news/Karaoke_box.jpg"></div>

                                    <div class="item" data-slide-number="3">
                                        <img src="http://www.fiwax.com/masterpanel/img/600/1437012865_6.jpg"></div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>
<br>
<br>
<br>
<br>
<br>


