<h1 class="kostic highest text-left">Ubicación</h1>

<h1 class="kostic medium text-left">Dirección</h1>
<h2 class="kostic1 medium text-left">Calle Berlín 147 Miraflores-Lima-Perú</h2>
<h3 class="kostic medium text-left" >Teléfonos :</h3>
<h4 class="kostic1 medium text-left" >(51)01558-9336</h4>
<br>

<div id="maps">

    <%= render 'map' %> 

</div>