<h1 class="kostic medium text-left">1. ¿Cómo Reservo?</h1>
<p class="kostic1 medium text-left" >Rpta. Mediante nuestra web o llamando a nuestra central telefónica</p>
<h2 class="kostic medium text-left">2. ¿Cómo sé que mi reserva está realizada mediante la web?</h2>
<p class="kostic1 medium text-left" >Rpta. Le mostrará un mensaje de confirmación</p>
<h3 class="kostic medium text-left">3. ¿Tengo mi reserva, cómo ingreso al Karaoke?</h3>
<p class="kostic1 medium text-left" >Rpta. Presentando su ticket o número de reserva</p>
<h4 class="kostic mediumr text-left">4. ¿Quiero anular mi reserva, que hago?</h4>
<p class="kostic1 medium text-left" >Rpta. Comunicarse con nuestra central telefónica 48 horas antes de la reserva</p>
<h5 class="kostic medium text-left">5. ¿Otra persona puede presentar mi ticket?</h5>
<p class="kostic1 medium text-left" >Rpta. Si. Los tickets y número de reserva son transferibles</p>
<br>