<h1 class="kostic medium text-left">El Karaoke se reserva el derecho de admisión</h1>
<h2 class="kostic medium text-left">La cancelación de la reserva se hace con 48 horas de anticipación</h2>
<h3 class="kostic medium text-left" >Cualquier acto vandálico en nuestros locales será denuciado y no se le permitirá el reingreso al local</h3>
<center><%= image_tag "Karaoke1.jpg" %></center>
<br>
<br>