<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template kostic medium">
                <h1 class="kostic bigger">Oops!</h1>
                <%= image_tag("blind-boy.svg") %>
                <div class="error-details">
                    <p class="kostic medium">Sorry, an error has occured, Requested page not found!</p>
                </div>
                <div class="error-actions">
                  <a href="/" class="btn btn-primary btn-lg kostic medium"><span class="fa fa-home"></span> Vuelve al Inicio </a>
                  <a href="/" class="btn btn-primary btn-lg kostic medium"><span class="fa fa-envelope"></span> Contacto Soporte</a>
                </div>
            </div>
        </div>
    </div>
</div>


