<li><%= link_to "Mantenimiento de locales", pages_about_us_path  %></li>

<li><%= link_to "Mantenimiento de salas", pages_faq_path  %></li>

<li><%= link_to "Mantenimiento de productos", tipo_productos_new_path  %></li>

<li><%= link_to "Mantenimiento de eventos", pages_contact_us_path  %></li>